.navItem
{
	background-color: #052B5F;
	padding:3px 0px 3px 32px;
	width:88px;
	height:19px;
	margin-bottom:2px;
}

a.navLink
{
text-decoration: none;
}

a.navLink:link
{
color:#FFFFFF;
}

a.navLink:visited

{
color:#FFFFFF;
}

a.navLink:hover
{
color:#D3DEFF;
}

a.navLink:active
{
color:#FFFFFF;
}