body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	background-color:#FFFFFF;
}

/* Main Page Layout Containers */

#mainFrame
{
	margin-left: auto;
	margin-right: auto;
	width:921px;
	background-color: #FFFFFF;
	border-top-width: 0px;
    box-shadow: 0px 0px 4px #B1C9E2;
}

#headerImage
{
	background-image: url("../images/banner.jpg");
	width:799px;	/* Remove when filled in header image */
	height:133px;
	float:left;
}

#navBlock
{
	width:88px;
	float:left;
	padding-left:2px;
}

#centerBlock 
{
	margin-top: 8px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 8px;
}

#eventsCol
{
	width: 223px;
	padding:0px 8px 0px 10px;
	float:left;
	line-height:1.5em;
}

#mainCol
{
	padding:0px 8px 0px 10px;
	float:left;
	line-height:1.5em;
}

#eventsCol+#mainCol
{
	border-left: 1px solid #B1C9E2;
	width:640px;
}

#footer
{
	background-color: #052B5F;
	color: #FFFFFF;
	padding:1px 4px 2px 4px;
	font-size:0.7em;
	margin-top: 7px;
	width: 912px;
	margin-left:auto;
	margin-right:auto;
}

/* Element Formatting */
h2{
	margin:0;
	font-size:1.3em;
	color:#052B5F;
}

p{
	margin:5px 0px 15px 0px;
}

/* General Formatting */
.imageRight
{
	float:right;
	margin-left:15px;
	line-height:1.25em;
	color: #777777;
	font-size:0.75em;
	text-align:center;
}

.imageLeft
{
	float:left;
	margin-right:15px;
	line-height:1.25em;
	color: #777777;
	font-size:0.75em;
	text-align:center;
}

.imageCenter
{
	margin-left:auto;
	margin-right:auto;
	line-height:1.25em;
	color: #777777;
	font-size:0.75em;
	text-align:center;
	display:block;
	position:relative;
}